.message-item {
  display: flex;
  margin: 8px auto;
}

.my-message {
  justify-content: flex-end;
}

.received-message {
  justify-content: flex-start;
}

.message-body-container {
  max-width: 60%;
}

.message-body {
  flex: 1;
  border-radius: 4px;
  padding: 8px 12px;
  word-break: break-word;
}

.message-user-name {
  font-size: 0.75rem;
  padding-left: 12px;
  color: rgb(138, 141, 145);
}

.my-message .message-body {
  background-color: rgb(0, 132, 255);
  color: white;
}

.received-message .message-body {
  background-color: rgb(228, 230, 235);
  color: rgb(5, 5, 5);
}

.message-avatar-container {
  align-self: flex-end;
  margin: 0px 8px;
}

.message-avatar {
  vertical-align: middle;
  border-radius: 50%;

  height: 28px;
  width: 28px;
}
