.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.chat-room-top-bar {
  display: flex;
  align-items: center;
}

.chat-room-top-bar h1 {
  flex: 1;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border-radius: 7px 7px 0 0;
  margin-bottom: 8px;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}
